section {
    padding-top: 128px;
    position: relative;
}

section::before{
    z-index: -1;
    content: '';
    font-size: 70px;
    color: rgb(100, 97, 97);
    opacity: 0.50;
    position: absolute;
    font-weight: 700;
    top: 20px;
    left: -30px;
}

.navbar{
    background-color: white;
    box-shadow: 0 0 0 4px rgb(0, 0, 0, 0.25);
    font-weight: bold;
    /* position: fixed; */
}


.btn.button:hover, btn.button.active{
    border: 3px solid black;
    border-radius: 24px;
}

.btn.button:hover{
    border: 3px solid  rgb(255, 255, 255);
    background-color: rgb(8, 145, 219);
    color: white;
}

.home img{
    width: 100%;
}

.home .arrow img{
    width: 50px;
    margin-bottom: 50px;
}


.home h1{
    font-size: 42px;
}

.home h3{
    font-size: 35px;
    color: rgb(6, 3, 49);
}

.home p{
    font-size: 20px;
}

#imgsz{
    position: relative;
    transition: transform 0.3s ease; /* Efek animasi zoom */
}


#imgsz:hover {
    transform: scale(1.2); /* Faktor zoom saat mouse hover (1.2 = 120%) */
}

#arrow{
    animation: 2s upDown infinite;
}

.about::before{
    content: 'About';

}

.about-exp-item{
    margin-top: 32px;
}

.about-exp-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-exp-item-detail{
    display: none;
}

.work::before{
    content: 'Work';
}

.work-img {
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    grid-template-areas: "work-1 work-2" "work-3 work-3";
    gap: 16px;
}

.work-img img{
    width: 100%;
}

.work-img-item{
    position: relative;
}

.work-img-item:hover:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 25px;
}

#rowss a {
    color: black;
    text-decoration: none;
    padding: 5px;
    padding-top: 20px;
}

#rowss a:hover {
    color: rgb(6, 127, 226);
}

.contact::before{
    content: 'Contact';
}

.contact{
    padding-bottom: 128px;
}

.contact-form{
    border: 1px solid black;
    padding: 64px 32px;
}


.form-label{
    font-weight: 700;
}

footer {
    box-shadow: 0 0 0 4px rgb(0, 0, 0, 0.25);
    color:rgb(9, 8, 8);
    padding: 30px;
    text-align: center;
    font-weight: bold;
    
}

/* styles.css */
.btne {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 6px;
    background-color: #f7f9fa;
    color: #0e0d0d;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 24px;
    cursor: pointer;
   
}

.btne i {
    line-height: 50px;
}

/* My Keyboard Section */
.keyboard-box {
    position: relative;
    background-color: #0c6efd;
    border-radius: 10px;
    height: 500px;
    transform-style: preserve-3d;
  }
  
  .keyboard-box::before {
    content: 'MY';
    position: absolute;
    color: #fff;
    font-size: 6em;
    font-weight: bold;
    font-style: italic;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
  }
  
  .keyboard-box:hover::before {
    opacity: 0.2;
  }
  
  .keyboard-box::after {
    content: 'KEYBOARD';
    position: absolute;
    color: #fff;
    font-size: 4.3em;
    font-weight: bold;
    font-style: italic;
    top: 350px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
  }
  
  .keyboard-box:hover::after {
    opacity: 0.2;
  }
  
  .keyboard-name {
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 2em;
    opacity: 0;
    transform: translate3d(0, 0, 50px);
    transition: 0.5s;
  }
  
  .keyboard-box:hover .keyboard-name {
    top: 20px;
    opacity: 1;
  }
  
  .keyboard-detail-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 100px);
    opacity: 0;
    transition: 0.5s;
    z-index: 3;
  }
  
  .keyboard-box:hover .keyboard-detail-button {
    opacity: 1;
    bottom: 20px;
  }
  
  .keyboard-img {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate3d(-50%, -52%, 80px);
    max-width: 350px;
    transition: 0.5s;
    z-index: 2;
  }
  
  .keyboard-box:hover .keyboard-img {
    transform: translate3d(-50%, -52%, 100px) rotate(5deg) scale(1.2);
  }
  


@media only screen and (max-width: 768px){
    .home img{
        width: 50%;
    }

    #rowss a {
        font-size: 15px;
      }
  
}

@media only screen and (max-width: 576px) {
    section::before{
        left: -18px;
        font-size: 6px;
    }

    #rowss a {
       font-size: 15px;
     }
}

@media only screen and (max-width: 398px) {
    #rowss a {
       font-size: 10px;
     }
}

@media only screen and (max-width: 360px) {
    #rowss a {
       font-size: 10px;
     }

}



@keyframes upDown{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(15px);
    }

    100%{
        transform: translateY(0);
    }
}